.column {
    float: left;
    width: 23.33%;
    padding: 5px;
    margin-left: 145px;
}
.column1{
    float: right;
    width: 23.33%;
    padding: 5px;
    margin-right: 145px;
}
img{
    height: 300px;
    width: 300px;
    border: 2px;
    border-color: black;
    filter: drop-shadow(5px 5px red);
}
body{
    background-image: url(images/bu_logo.png);
    background-size: contain;
}
/*headers*/
body > header {
    width: 100%;
    position: relative;   
 }
 
 body > header > img {
    margin-left: 10px;
 }
 
 body > header > div {
    margin: 10px 0px;
    height: 50px;
 }
/*Footer styles*/
footer {
   clear: both;
   color: rgb(255, 255, 199);    
   background: linear-gradient(rgb(0, 104, 141), rgb(0, 28, 46));
   font-size: 1.1em; 
   line-height: 1.4em;
   font-style: normal;
   width: 100%;
   letter-spacing: 0.1em;
}

footer nav ul, footer section {
   float: left;
   padding: 20px 30px;
   width: 20%;
}

footer section {
   float: left;
   padding: 20px 30px;
   width: 40%;
}

footer nav ul a {
   color: rgb(255, 255, 199);
}

footer nav ul a:hover {
   text-decoration: underline;
}


footer p {
   clear: both;
   color: rgb(211, 211, 211);
   font-size: 0.9em;
   text-align: center;
   margin: 0px;
   padding: 10px 0px;
   border-top: 1px solid rgb(255, 255, 199);
}







